@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Bold.eot');
    src: url('Kanit-Bold.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Bold.woff2') format('woff2'),
        url('Kanit-Bold.woff') format('woff'),
        url('Kanit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Regular.eot');
    src: url('Kanit-Regular.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Regular.woff2') format('woff2'),
        url('Kanit-Regular.woff') format('woff'),
        url('Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

